/* width, height */
.c1 {
  width: 200px;
  height: 200px;
  border: 1px solid #000;
}

/* max-width, min-width */
.c2 {
  height: 200px;
  min-width: 400px;
  max-width: 800px;
  border: 1px solid #000;
}

/* max-height, min-height */
.c3 {
  max-width: 800px;

  min-height: 50px;
  max-height: 150px;
  border: 1px solid #000;
}